# Build artifacts
/target

# SAM and BAM files
**/*.sam
**/*.bam

# GFF files
**/*.gff
**/*.gff3

# Raw genomics data
**/*.tsv
**/*.csv

# LaTeX build artifacts
**/*.aux
**/*.log
**/*.synctex.gz
**/*.toc